body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.header,
.content,
.footer {
    display: flex;
    flex: 1;
}

/* Header */
.header {
    background-color: lightgray;
}

.menu-item {
    flex: 1;
    text-align: center;
    padding: 10px;
}

.menu-item:nth-child(1) {
    background-color: red;
    border-color: 20px solid white;
}

.menu-item:nth-child(2) {
    background-color: green;
    border-color: 20px solid white;
}

.menu-item:nth-child(3) {
    background-color: blue;
    border-color: 20px solid white;
}

.menu-item:nth-child(4) {
    background-color: orange;
    border-color: 20px solid white;
}

.menu-item:nth-child(5) {
    background-color: purple;
    border-color: 5px solid yellow;
}

/* Content */
.content {
    flex: 3;
    border: 5px rgb(42, 18, 2);
}

.content-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 5px solid brown

}

.left-column {
    background-color: teal;
    border: 20px solid
}

.right-column {
    background-color: pink;
    border: 30px solid green
}

.right-column-item {
    flex: 1;
    text-align: center;
    padding: 10px;
    border: 5px solid rgb(122, 0, 128)
}

/* Different background colors for right column items */
.right-column-item:nth-child(1) {
    background-color: rgb(173, 224, 21);
    border: 5px solid white
}

.right-column-item:nth-child(2) {
    background-color: rgb(255, 94, 0);
}

/* Add different colors for each row as needed */

/* Footer */
.footer {
    background-color: lightcoral;
    gap: 15px;
    border: 5px solid white
}

.footer-column {
    flex: 1;
    text-align: center;
    padding: 10px;
}

.footer-column:nth-child(1) {
    background-color: brown;
    border: 5px solid white
}

.footer-column:nth-child(2) {
    background-color: yellow;
    border: 5px solid white
}

.footer-column:nth-child(3) {
    background-color: violet;
    border: 5px solid white
}